extends ../node_modules/jade-bootstrap/_bootstrap

append styles
    link(rel="stylesheet" href="stylesheets/design.css")

block body
    +navbar("Colenso Project", "dropdown_menu")
        +nav_item("/") Home
            +icon("home")
        +nav_item("/explore") Explore Database
            +icon("list-alt")
        +nav_item("/database", "active") Database
            +icon("book")
    .container
        h1= title
        .container
        p Welcome to the #{title}
        .container
            form(name="query", action="/database", method="get")
                +input("text","query","Search", "",name="databaseSearch")
                +submit("Search")

            if nResults > 0
                +label-success(nResults + " results found")
            else
                +label-danger(nResults + " results found")
            p !{results}







