extends ../node_modules/jade-bootstrap/_bootstrap

append styles
    link(rel="stylesheet" href="stylesheets/design.css")

block body
    .container
        .navigation
            +navbar("Colenso Project", "dropdown_menu")
                +nav_item("/") Home
                    +icon("home")
                +nav_item_dropdown("#")(label="Database")
                    +nav_item("/explore", "active") Explore
                        +icon("list-alt")
                    +nav_item("/database") Search Database
                        +icon("book")
        .content
            h1= title
            .hr
                hr
            br
            each doc in fileNames
                p: a(href = "/file?filename=/" + doc) !{doc}