extends ../node_modules/jade-bootstrap/_bootstrap

append styles
    link(rel="stylesheet" href="stylesheets/design.css")

block body
    +navbar("Colenso Project", "dropdown_menu")
        +nav_item("/") Home
            +icon("home")
        +nav_item("/explore", "active") Explore Database
            +icon("list-alt")
        +nav_item("/database") Database
            +icon("book")
    .container
        h1= title

        //.btn-group(role='group', aria-label="...")
            a.btn-xl.outline(href='/download') Download

        +a-btn("/download") Download

        .container
        p Welcome to the #{title}

        p !{data}







