extends ../node_modules/jade-bootstrap/_bootstrap

append styles
    link(rel="stylesheet" href="stylesheets/design.css")

block body
    .container
        .navigation
            +navbar("Colenso Project", "dropdown_menu")
                +nav_item("/", "active") Home
                    +icon("home")
                +nav_item("/explore") Explore Database
                    +icon("list-alt")
                +nav_item("/database") Search Database
                    +icon("book")

        .content
            h1= title
            p Welcome to the #{title}. We have an excellent collection of videos in stock for you.